<a href="https://colab.research.google.com/github/nelslindahlx/Random-Notebooks/blob/master/basicstringwork.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

messing around with strings

In [3]:
first_string = 'My first  literal string'
second_string = "My second literal string"
print(second_string == first_string)

False

quotes inside other quotes

In [4]:
third_string = 'A single quoted literal string with a " double quote'
fourth_string = "A double quoted literal string with a ' single quote"
print(third_string)
print(fourth_string)

A single quoted literal string with a " double quote
A double quoted literal string with a ' single quote

escape sequences

In [5]:
fifth_string = 'A single quoted literal string with an \' escaped single quote'
sixth_string = "A double quoted literal string with a \" double quote"
seventh_string = 'A literal string with a \n new line character'
eighth_string = 'A literal string with a \t tab character'

print(fifth_string)
print(sixth_string)
print(seventh_string)
print(eighth_string)

A single quoted literal string with an ' escaped single quote
A double quoted literal string with a " double quote
A literal string with a
 new line character
A literal string with a 	 tab character

raw strings

In [6]:
ninth_string = r"A literal string with a \n new line character printed raw"

print(ninth_string)

A literal string with a \n new line character printed raw

multi-line strings

In [7]:
tenth_string = '''A literal string
on more than one line
sometimes known as a verbatim string'''

eleventh_string = """Another literal string
     on more than one line
using double quotes"""

print(tenth_string)
print(eleventh_string)

A literal string
on more than one line
sometimes known as a verbatim string
Another literal string
     on more than one line
using double quotes

print() function

In [8]:
first = 'Conrad'
second = 'Grant'
third = 'Bob'
print(first, second)
print(first, second, third)
print(first, second, third, sep='-')
print(first, second, third, sep='-', end='.')

Conrad Grant
Conrad Grant Bob
Conrad-Grant-Bob
Conrad-Grant-Bob.